:root
{
  --card-deg: 188deg;
  /*--rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);*/
}

/*Card colors*/

*[data-bg='0']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 18, 34, 91, .9 ),
    rgba( 199, 24, 193, .9 ),
    rgba( 244, 186, 255, .9 ),
    rgba( 11, 17, 89, .9 ) 
  );
  text-shadow: 1px 1px 4px rgba( 18, 34, 91, 1 ) !important;
}

*[data-bg='1']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 61, 10, 19, .9 ),
    rgba( 230, 98, 46, .9 ),
    rgba( 247, 225, 101, .9 ),
    rgba( 156, 16, 40, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 61, 10, 19, 1 ) !important;
}

*[data-bg='2']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 1, 30, 98, .9 ),
    rgba( 5, 125, 89, .9 ),
    rgba( 108, 245, 119, .9 ),
    rgba( 20, 74, 255, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 1, 30, 98, 1 ) !important;
}

*[data-bg='3']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 69, 3, 47, .9 ),
    rgba( 23, 121, 227, .9 ),
    rgba( 129, 240, 225, .9 ),
    rgba( 78, 45, 219, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 69, 3, 47, 1 ) !important;
}

*[data-bg='4']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 6, 3, 4, .9 ),
    rgba( 128, 3, 9, .9 ),
    rgba( 250, 167, 90, .9 ),
    rgba( 64, 2, 16, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 6, 3, 4, 1 ) !important;
}

*[data-bg='5']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 7, 46, 2, .9 ),
    rgba( 89, 163, 1, .9 ),
    rgba( 252, 240, 217, .9 ),
    rgba( 12, 107, 18, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 7, 46, 2, 1 ) !important;
}

*[data-bg='6']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 3, 5, 99, .9 ),
    rgba( 2, 142, 181, .9 ),
    rgba( 250, 230, 247, .9 ),
    rgba( 101, 0, 138, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 3, 5, 99, 1 ) !important;
}

*[data-bg='7']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 87, 27, 2, .9 ),
    rgba( 189, 163, 15, .9 ),
    rgba( 245, 232, 179, .9 ),
    rgba( 139, 85, 9, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 87, 27, 2, 1 ) !important;
}




*[data-bg='8']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 6, 38, 79, .9 ),
    rgba( 158, 14, 9, .9 ),
    rgba( 252, 93, 141, .9 ),
    rgba( 92, 2, 11, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 87, 27, 2, 1 ) !important;
}

*[data-bg='9']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 3, 5, 9, .9 ),
    rgba( 92, 92, 191, .9 ),
    rgba( 172, 140, 247, .9 ),
    rgba( 21, 21, 21, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 3, 5, 99, 1 ) !important;
}

*[data-bg='10']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 24, 31, 26, .9 ),
    rgba( 6, 125, 51, .9 ),
    rgba( 155, 250, 177, .9 ),
    rgba( 53, 61, 55, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 87, 27, 2, 1 ) !important;
}

*[data-bg='11']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 8, 7, 2, .9 ),
    rgba( 89, 83, 85, .9 ),
    rgba( 225, 232, 229, .9 ),
    rgba( 29, 25, 29, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 87, 27, 2, 1 ) !important;
}


*[data-bg='12']
{
  background: linear-gradient(
    var( --card-deg ), 
    rgba( 34, 9, 169, .9 ),
    rgba( 69, 163, 209, .9 ),
    rgba( 25, 232, 229, .9 ),
    rgba( 29, 25, 129, .9 )
  );
  text-shadow: 1px 1px 4px rgba( 87, 27, 2, 1 ) !important;
}