.header {
  flex: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header h1 {
  display: inline-block;
  color: var(--og-title);
  margin: 0;
  padding: 0;
}

.Desktop__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
}

.main {
  position: relative;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;
  height: max-content;
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__row {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.section__header {
  flex: 1 1;
  display: flex;
  margin: .5em 0 0;
  padding: 0 .5em
}

.aside {
  position: relative;
  flex: 0 0 max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}





.visitedShowcase {
  position: relative;
  width: 100%;
  height: 23em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.7em, 175px));
  margin: 0;
  border-radius: 1em;
  z-index: 105;
  overflow: hidden;
  justify-content: flex-start;
}

@media only screen and (max-width: 538px) {
  .visitedShowcase
  {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 404px) {
  .visitedShowcase
  { 
    grid-template-columns: repeat(auto-fill, minmax(10%, 158px));
    /*justify-content: space-between;*/
  }
}

.visitedWrapper {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1em .25em 0;
  transition: .1s ease-in-out;
}

.visitedCard {
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 1px 1px 2px rgba(2, 2, 2, .85);
  border-radius: .5em;
  border: 1px solid rgba(141, 141, 141, .2);
  word-break: break-all;
  padding: .375em .75em;
  margin: 0;
  background-color: rgba(8, 8, 8, .85);
  overflow: hidden;
  position: relative;
  transition: .1s linear;
}

.visitedWrapper:hover {
  transform: scale(1.03);
}

.visitedWrapper:hover .visitedCard {
  box-shadow: 4px 4px 8px rgba(2, 2, 2, .85);  
}

.visitedCard > * {
  margin-left: .25em;
  margin: .375em 0;
  padding: 0;
}

.visitedCard span {
  max-height: 57px;
  overflow: hidden;
  font-size: 13px;
  /*color: var(--og-white);*/
}

.visitedCard:hover h5 code {
  text-decoration: 1px underline solid currentcolor;
}

.visitedCounter {
  width: 90%;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: var(--og-grey);
}

.visitedCounter code {
  font-size: 12px;
  color: var(--og-silver);
}

.visitedForget {
  position: absolute;
  top: -2.5%;
  left: 87.5%;
  display: none;
  box-sizing: border-box;
  background-color: var(--og-silver);
  color: var(--og-white);
  border: 1px dotted rgba(141, 141, 141, 1);
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  font-size: 85%;
  width: 24px;
  height: 23px;
}

.visitedForget:hover {
  background-color: var(--og-white);
  color: var(--og-dark);
  border: 1px solid var(--og-silver);
}

.visitedWrapper:hover > .visitedForget {
  display: block;
}




/*SITE LINKS*/
.siteShowcase {
  position: relative;
  height: calc(2 * (69px + (1.5em)));
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(67px, 77px));
  justify-content: space-between;
  margin: 0;
  width: 100%;
  border-radius: 1em;
  z-index: 105;
}

.siteWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: .5em .25em 0;
  transition: .1s ease-in-out;
}

.siteWrapper:hover {
  transform: scale(1.05);
}

.siteIcon{
  width: 69px;
  height: 69px;
  border: 1px solid rgba(167, 167, 167, .15);
  border-radius: .75em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(31,38,46,.95);
    margin: 0 0;
    box-shadow: 1px 1px 2px rgb(2 2 2 / 85%);
}

.siteName {
  margin-top: .33em;
  font-size: 11px;
  color: var(--og-silver);
}

.siteWrapper:hover .siteIcon {
  background-color: rgba(173,178,183,.85);
  box-shadow: 4px 4px 8px rgba(2,2,2,.5);
}







/*WIDGETS*/
.Widgets__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 7.5rem 0;
  padding: 0 3.75rem;
  width: 100%;
  height: 100%;
}

.Widgets__wrapper {
  margin: .1875em 0;
  padding: 0 .375em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.Widget__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-width: 85vw ;
}

.Widget__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 0 2.5rem;
  padding: 0;
  width: 100%;
  height: auto;
  border-radius: .5em;
  /* box-shadow: 
    -0px 0px 2px rgba(2,2,2,.3),
    -1px 1px 4px rgba(2,2,2,.3),
    -2px 2px 8px rgba(2,2,2,.3),
    -4px 4px 16px rgba(2,2,2,.3)  
  ; */
  border: 1px solid rgba(141, 141, 141, .2);
  background-color: rgba(16,17,23,.75);
  overflow: hidden;
  transition: .1s linear;
  backdrop-filter: blur(20px);
}

.Clock__time {
  margin: 0;
  padding: 2rem 2rem 0;
  font-size: 36pt;
  line-height: 1em;
}

.Clock__date {
  margin: 0;
  padding: 0 2rem 2rem;
  font-size: 12pt;
  line-height: 1em;
}

.Hns__title {
  margin: 0;
  padding: 2rem 2rem 0;
}

.Hns__height {
  margin: 0;
  padding: 0 2rem 2rem;
  font-size: 15pt;
  font-weight: 800;
  line-height: 1em;
}

.Quotes__title {
  margin: 0;
  padding: 2rem 2rem 0;
  font-size: 15pt;
  font-weight: 800;
}

.Quotes__container {
  margin: 0;
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Quotes__price {
  margin: .25em 0;
  font-size: 15pt;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(7, 3, 21, .99);
}

.Handycon__title {
  margin: 0;
  padding: 2rem 2rem 0;
  font-size: 15pt;
  font-weight: 800;
}

.Handycon_countdown {
  margin: 0;
  padding: 1rem 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22pt;
}
.Handycon_legenda {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 800;
}

.Handycon__register {
  margin: 0;
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Handycon_button {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(244,215,26,1);
  color:rgba(2, 2, 2, .85);
  border-radius: .375em;
  font-size: 15pt;
  font-weight: 600;
}

.Handycon_button:hover {
  background: rgba(244,215,26,.85);
  color:rgba(2, 2, 2, .95);
}

.Handycon_button:active {
  background: rgba(244, 186, 26, 0.75);
  color:rgba(2, 2, 2, 1);
}

.Handycon_website {
  padding: 1em;
  color: darkcyan;
  text-decoration: underline;
}