.nav
{
  position: fixed;
  position: sticky !important;
  top: 0;
  left: 0;
  height: max-content;
  min-height: 48px;
  width: 100%;
  margin: 0;
  padding: .25rem .5rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center; 
  background-color: var( --og-black );
}

.header {
  flex: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header h1 {
  display: inline-block;
  color: var( --og-title );
  margin: 0;
  padding: 0;
}

.main {
  flex: 1 1;
  margin: 0;
  padding: 0;
}

.footer {
  flex: 0 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.poweredby
{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.credits
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 85vw;
  border-top: 1px solid rgba( 68, 68, 68, .68 );
}

.credit
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em 1em; 
}

.credit code
{
  font-size: 14px;
}

.credit code:hover
{
  color: orangered;
}
.credit h4
{
  font-size: 13px;
  font-weight: 600;
  text-decoration: .01em underline currentcolor;
  padding: 0 .375em;
}