.wrapper
{
	position: fixed;
	top: 7.5vh;
	left: 0;
	height: max-content;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content
{
	position: relative;
	margin: auto;
	padding: 1em .5em;
	width: 30%;
	min-width: 360px;
	height: max-content;
	text-align: center;
	border-radius: .75em;
  	color: var( --og-silver );

	z-index: 978545927;
	background-color: rgba( 8, 8, 8, 1 );
}

@media only screen and ( max-width: 638px )
{
	.content
	{
		font-size: 100%;
	}

}

.title
{
	margin: 0;
}

.name
{
	font-weight: bolder;
	text-decoration: underline 1px currentcolor;
}

.link
{
	text-decoration: underline 1px currentcolor;
}