.Button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .375em;
  margin: 0 0 0 0.1875em;
  cursor: pointer;
}
  .Button:hover {
    background-color: rgba(238,17,23,.25);
  }

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute !important;
  top: 100%;
  right: 0;
  left: unset;
  width: 216px;
  background-color: rgba(11,17,23,.9);
}

.Menu__submenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Menu__option {
  margin: 0;
  padding: .1875em .375em;
  font-size: 15pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Menu__option_icon {
  position: relative;
  flex: 0 0 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .75em 0 0;
  padding: 0;
}
.Menu__option_text {
  position: relative;
  flex: 1 1 0px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 9pt
}

.Menu__title {
  border-bottom: 1px solid rgba(248,253,255,.25);
}