.nightMode
{
  position: absolute;
  right: 3.5%;
  top: 82px;
  z-index: 9745987265986985723486;
  background-color: rgba( 0, 0, 0, 0);
  width: 44px;
  height: 44px;
}
.nightModeSwitch
{
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: .5em;
  border: none;
  color: var( --og-white );
  background-color: inherit;
  width: 100%;
  height: 100%;
}

.modeIcon
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*filter: brightness( .5 );*/
}