:root
{
	/*THEME*/
	--og-black: rgba( 8, 8, 8, 1 );
	--og-white: rgba( 255, 255, 255, 1 );
	--og-dark: rgba( 8, 6, 7, .925 );
	--og-silver: rgba( 239, 239, 239, .75 );
	--og-grey: rgba( 239, 239, 239, .35 );

	--og-title: transparent;

	/*LOGO-ANIMATION*/
	--lg-deg: 54deg;

	--rb-0: red;
	--rb-1: blue;
	--rb-2: green;
	--rb-3: yellow;
	--rb-4: orange;
	--rb-5: purple;
	--rb-6: blue;
	--rb-7: green;
	--rb-8: yellow;
	--rb-9: orange;
}

